doctype
html(lang="en")
head
    link(rel="stylesheet", href="css/3Dcard.css")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
body 
    .stage
        #cube
            .side.left
                .fronted
                    img(src='https://www.komar.de/ru/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/4/5/4501_2.jpg', alt='photo', class="sideLeft")
                .backed.sideLeft
                    .content
                        h1 John Doe
                            span Front-end developer
                        ul.socials
                            li
                                a(href="#")
                                    i.fa.fa-youtube
                                a(href="#")
                                    i.fa.fa-instagram
                                a(href="#")
                                    i.fa.fa-twitter
                                a(href="#")
                                    i.fa.fa-vk
                                a(href="#")
                                    i.fa.fa-github
            .side.front
                .fronted
                    img(src='https://cs8.pikabu.ru/post_img/big/2018/08/15/11/1534360531198213400.jpg', alt='photo', class='sideFront')
                .backed.sideFront
                    .content
                        h1 John Doe
                            span Front-end developer
                        ul.socials
                            li
                                a(href="#")
                                    i.fa.fa-youtube
                                a(href="#")
                                    i.fa.fa-instagram
                                a(href="#")
                                    i.fa.fa-twitter
                                a(href="#")
                                    i.fa.fa-vk
                                a(href="#")
                                    i.fa.fa-github
            .side.right
                .fronted
                    img(src='https://i.pinimg.com/736x/69/cd/5d/69cd5dd877ec8e831eee8d3f275787f0.jpg', alt='photo', class='sideRight')
                .backed.sideRight
                    .content
                        h1 John Doe
                            span Front-end developer
                        ul.socials
                            li
                                a(href="#")
                                    i.fa.fa-youtube
                                a(href="#")
                                    i.fa.fa-instagram
                                a(href="#")
                                    i.fa.fa-twitter
                                a(href="#")
                                    i.fa.fa-vk
                                a(href="#")
                                    i.fa.fa-github               
    script(src="js/3Dcard.js")