doctype
html(lang="en")
head
    link(rel="stylesheet", href="css/Controllable.css")
body
    #three-container
    script(src="js/Controlled/three.min.js")
    script(src="js/Controlled/TweenMax.min.js")
    script(src="js/Controlled/bas.js")
    script(src="js/Controlled/OrbitControls-2.js")
    script(src="js/Controlled/index.js")